/** @format */

body {
  /* Rectangle 1 */
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dbd9d9;
  overflow: hidden;
}
.nav {
  /* Rectangle 2 */
  margin-top: -8px;
  margin-left: -8px;
  position: absolute;
  width: 100%;
  height: 72px;

  background: #a1d335;
}
.feed {
  /* Rectangle 3 */

  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: 300px;
  margin-top: 65px;
  background: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
}
.project-tree {
  width: 25%;
  height: 100%;
  background-color: #dbd9d9;
  margin-top: 72px;
}
.people-suggestion {
  width: 17%;
  height: 100%;
  background-color: #dbd9d9;
  margin-left: 1100px;
  margin-top: -615px;
}
.people1,
.people2,
.people3,
.people4,
.people5 {
  width: 320px;
  height: 75px;
  background-color: #c4c4c4;
  margin-left: -100px;
  margin-top: 30px;
}
.search {
  width: 300px;
  height: 50px;
  margin-left: 400px;
  margin-top: -65px;
}
.cont1,
.cont2,
.cont3 {
  width: 650px;
  height: 300px;
  background-color: #c4c4c4;
  margin-left: 7px;
  border-radius: 8px;
}
#username {
  margin-left: 1210px;
}
.profile {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  margin-left: 1300px;
  margin-top: -40px;
}
